:root {
  --spacing: 0.25rem;
  --tw-gradient-to: #d9770605;
  --outline-color: #2563eb32;
  --tw-gradient-position: to bottom right in oklab;
  --tw-gradient-from: '#2563eb05';
  --tw-gradient-from-position: 0%;
  --tw-gradient-via: transparent;
  --tw-gradient-via-position: 50%;
  --tw-gradient-to-position: 100%;
  --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}